// bootstrap variable overrides
$font-family-sans-serif:     'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-display:        Georgia, cursive;
$font-family-display-alt:    "Open Sans Condensed", "Source Sans Pro", Helvetica, Arial, sans-serif !default;
$font-family-base:           $font-family-serif !default;
$headings-font-weight:       300 !default;
$font-size-base:             1.3rem !default;

$body-color:                 #fff !default;
$headings-color:             #111 !default;
$enable-rounded:             true !default;
$border-radius:              0 !default;

$brand-primary-dark:         #8a9a0f !default;
$brand-primary:              #EA7332 !default;
$brand-secondary:            #377B7E !default;

$gray-lightish:              #ccc !default;
$gray-lightisher:            #aaa !default;
$gray-superlight:            #e1e1e1;
$default-banner:             #eceeef;
//$default-banner:             lighten(#8a9a0f, 40%);

$link-color:                 #fff;

$btn-border-radius:          0;
$btn-secondary-color:        $brand-primary;
//$btn-secondary-border:       #fff !default;
$btn-font-weight:            400 !default;
$btn-padding-x:              1.2rem;
$btn-padding-y:              1rem;

//$grid-gutter-width:          4rem !default; // 30px

// Fonts I like
// Mrs Onion
// Drina


// bootstrap and font-awesome 
@import "bootstrap";
@import "font-awesome";

// new styles
body { 
    background-color: $brand-secondary; 
    font-weight: 300; 
    color: #fff;
    color: rgba(255,255,255,0.95);
}

@include media-breakpoint-down(sm) {
    body {
        font-size: 1.1rem;
    }
}

h1 { 
    font-family: $font-family-display; 
    //text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

h1 { 
    clear: left; 
    margin-top: 0.7em;
    margin-bottom: 1.3em;
}
h2 {
    font-style: italic;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
    a {
        //background-position: 0 2.5rem !important;
        //background-size: 1px 1px;
    }
}
h3 {
    font-family: $font-family-display-alt;
    font-weight: bold;
    font-size: 1.4rem; 
    //color: $gray;
    a {
        //background-position: 0 2.5rem;
        //background-size: 1px 1px;
    }
}
h4 {
    font-weight: 700; 
}
h5 {

}
p {
    margin-bottom: 1.5rem; 
    a {
        //background-position: 0 1.5rem;
        //background-size: 1px 1px;
    }
}
td a, li a, dd a {
    //background-position: 0 1.5rem;
    //background-size: 1px 1px;

}
img { max-width: 100%; }
//strong { color: $gray-dark; }
p code { font-size: 1rem; }
ul { list-style-type: circle; }
pre {
    margin-bottom: 2em;
    margin-top: -1em;
    code { 
        font-size: 1rem;
        padding: 0 !important;
    }
    code:first-line { line-height: 0px; }
}

thead {
    font-weight: bold;
}

blockquote {
    border-left: 1px solid $brand-primary;
    padding-left: 1em;
    font-style: italic;
}
small {
    line-height: 1.4;
}
dt {
    color: $headings-color;
    font-weight: normal;
    font-size: 2rem;
    font-style: italic;
}
dd {
    margin-top: 0.5em;
    margin-bottom: 2em;
}
@include media-breakpoint-down(sm) {
    h1 {
        margin-top: 0;
        font-size: 2rem;
    }
    dt {
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;
    color: $body-color;
    font-weight: bold;
    color: rgba(255,255,255,0.9);
    &:hover {
        color: #fff;
        //background-image: linear-gradient(#fff 50%, $brand-primary-dark 50%);
        text-decoration: none;
        border-bottom: 1px solid #fff;
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    //&:visited {
    //    color: $brand-primary;
    //    background-image: linear-gradient(#fff 50%, $brand-primary 50%);
    //}
}

@include media-breakpoint-down(sm) {
    a {
        text-decoration: underline;
    }
}

.gist a, nav a, .social-media a, .btn, .sharing a { 
    background-image: none; 
    &:hover { background-image: none; }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    padding: .7rem 1.4rem;
    font-family: $font-family-sans-serif;
    white-space: normal;
    text-decoration: none;
}

.btn-sm {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem 0.9rem 0.4rem 0.9rem;

}

.btn-secondary, .btn-secondary-outline {
    border-width: 3px;
}

.btn-secondary-outline:hover {
    background-color: transparent !important;
}

.vertical-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.super-vertical-margin {
    margin-top: 2em;
    margin-bottom: 2em;
}

.clear {
    clear: both;
}

hr {
    border-top: 1px solid $gray-superlight;
    height: 3px;
    margin: 2.2em 0 2em 0;
}

form input {
    padding: 1em 1.3em;
    font-size: 1rem;
    color: $gray;
    border: 1px solid $gray-lightish;
    font-family: $font-family-sans-serif;
}

.container-fluid.photo-row {
    margin: 2em 0;
    padding-left: 0;
    .row {
        margin-left: -5px;
    }
    .col-sm-3 {
        padding-left: 5px;
        padding-right: 0;
        padding-top:5px;
    }
}

.small-sans {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0.1em;
    color: $gray-lightish;
    font-size: 1rem;
    margin-bottom: 5px;
}

/* LANDING PAGE */
#landing-page {
    padding-top: 10rem;
    text-align: center;
    font-family: $font-family-sans-serif;
    label { display: none; }
    p, .btn {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
    }
    form {
        margin: 4rem 0;
        input[type="email"] {
            padding: 0.8em 1.3em;
            width: 100%;
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 600px) {
    #landing-page {
        padding-top: 5rem;
    }
    h1 img {
        content:url("../images/hellowebdesign-sm.svg");
    }
    br { content: ' '; }
    input[type="submit"] { margin-top: 5px; }
}


.copy {
    @extend .small-sans;
    font-family: $font-family-sans-serif;
    font-size: .7rem;
    letter-spacing: 0.2em;
}

.social-media a:hover { border-bottom: 0; }

